/* ------------------------------------------------*/
/*VARIABLES*/
/* ------------------------------------------------*/

/*COLORES*/
@negro-custom: #141618;
@blanco: #fff;
@texto-oscuro: #303133;
@texto-claro: #777;
@dorado: #b4975a;
@gris-claro: #eaeaea;

/*Fuentes*/

@fuentes-principal: 'Playfair Display', serif;
@fuentes-secundaria: 'Poppins' serif;


/* ------------------------------------------------*/
/*GENERALES/
/* ------------------------------------------------*/

*{
margin: 0;
padding: 0;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing: border-box;

}

body{
    font-size: 16px;
    font-family: @fuentes-principal;
    color: @texto-oscuro;
}

.container{
    width: 90%;
    max-width: 1080;
    margin: 0 auto;
}

img{
    vertical-align: top;
    max-width: 100%;
}


/* ------------------------------------------------*/
                /*EMCABEZADO/
/* ------------------------------------------------*/

header{

    .menu-bar-pc{
        background: @blanco;
        width: 100%;
        position: fixed;
        z-index: 99;
        top: 0;
        padding: 0 2.25rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-height: 5.875rem;
        border-bottom: 1px solid @gris-claro;

        .logo{
            max-width: 3.1rem;
        }

        .menu-principal{
            a{
                padding: 0 0.5rem;
            }
        }
        .top-redes{
            a{
                padding: 0 0.5rem;
            }
        }




    }


}